@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
    background-color: #141c2f;
    font-family: 'Space Mono', monospace;
    color: white;
    width: 100%;
    margin: 0;
}

.header, .header-name, .header-links, .footer{
    display: flex;
    align-items: center;
}

.header{
    justify-content: space-between;
}

.header-links{
    justify-content: space-between;
    gap: 1.5em;
    margin-inline-end: 2em;
}

.header-name{
    margin-inline-start: 2em;
}

.header-name > p{
    font-weight: 700;
    font-size: 1.5em;
}

.about{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 1.5em;
}

.about-name{
    font-weight: 700;
    font-size: 2em;
    margin-block: 0.5em;
}

.about-description{
    font-size: 0.9em;
}


.download-resume, .view-repo-button, .live-demo-button, .submit-contact{
    height: 3rem;
    border: none;
    border-radius: 0.5em;
    outline: none;
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    background-color: #0079fe;
    color: white;
    margin-bottom: 0.7em;
    cursor: pointer;
}


.about-socials{
    display: flex;
    align-content: center;
    justify-content: center;
}

.about-code{
    background-color: #0A2647;
    width: 30em;
    height: 22em;
    border-radius: 0.5em;
    transform: rotate(-0.01turn);
}

.header-links > a{
    text-decoration: none;
    color: white;
}

.header-links > a:hover{
    text-decoration: underline;
    color: #0079fe;
}

.job-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.job{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.job-title{
    font-size: 1.5em;
    margin-block: 0;
}

.job-date{
    font-size: 1em;
    margin: 0.1em;
}

.job-desc{
    font-size: 1em;
    margin: 0;
}

.job:hover{
    background: radial-gradient(#0A2647 10%, #141c2f 60%);
}

.experience-top > h1{
    margin: 0em;
}

.experience-top > img{
    object-fit: contain;
}

.experience-top > h1:hover, .project-top> h1:hover, .contact-info > h1:hover{
    color: #0079fe;
}

.project-holder{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.project-desc{
    margin-block-end: 0;
    margin-inline-start: 3em;
    background-color: #0A2647;
    border-radius: 1em;
    width: 70%;
    padding-block: 1.5em;
    padding-inline-start: 1.5em;
    padding-inline-end: 5em;
}

.project-desc > h1{
    font-size: 1.5em;
    margin-top: 0;
}

.project > img{
    margin-block-start: 0;
    width: 30%;
    height: 30%;
    transform: translate(-4em, -1em) rotate(-0.01turn);
    border-radius: 0.7em;
}

.contact{
    display: flex;
    background-color: #0A2647;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.contact-form, .contact-info{
    width: 40%;
}

.contact-info{
    margin-inline-start: 2em;
}

.contact-text, .contact-message {
    background: none;
    border: none;
    width: 30em;
    height: 3em;
    font-size: 1em;
    font-family: 'Space Mono', monospace;
    border-bottom: 1px solid #0079fe;
    margin-bottom: 0.5em;
    color: white;
} 

.contact-form > form:first-child{
    margin-top: 0.5em;
}

.contact-message{
    height: 7em !important;
}

.footer{
    border-top: 0.1em solid #0079fe;
    padding: 1em;
    background-color: #0A2647;
    justify-content: space-between;
}

.footer-name{
    padding-inline-start: 2em;
}

.footer-social{
    padding-inline-end: 2em;
}

.about-code > pre{
    font-family: 'Space Mono', monospace;
    font-size: 0.85em;
    margin-inline-start: 1em;
}

.dot {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
}

.code-colors{
    margin-top: 1em;
    margin-inline-start: 1em;
}

.dot-1{
    background-color: #84e296;
}

.dot-2{
    background-color: #f2c94c;
}

.dot-3{
    background-color: #ff8098;
}

.run-code{
    float: right;
    height: 2.5rem;
    border: none;
    border-radius: 0.4em;
    outline: none;
    font-family: 'Space Mono', monospace;
    font-size: 0.8em;
    background-color: #0079fe;
    color: white;
    margin-bottom: 0.7em;
    cursor: pointer;
    margin-inline-end: 1em;
}

@media screen and (max-width: 900px) {
    .project > img {
       display: none;
    }
    .project-desc{
        width: 80%;
        padding-inline-end: 1.5em;
        margin-inline-start: 0;
    }
    .contact-form, .contact-info{
        width: 100%;
    }
    .contact-text, .contact-message {
        width: 80%;
    }
    .contact-form{
        margin-inline-start: 12%;
    }
    .about-code{
        width: 80%;
        height: 66%;
    }
 }

 
@media screen and (max-width: 570px){
    .about-code{
        width: 100%;
        height: 70%;
    }
}

 @media screen and (min-width: 1300px) {
    .project > img{
        width: 20%;
        height: 20%;
    }
 }

